*{
    font-family: "Sans-Serif", Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

:root {
    --color-amarillo: #ffc246;
    --text-color: #5a5a5a;
    --redes-color: white;
   
}

.icon-tabler-phone {
    color: var(--color-amarillo); /* Esto rellena el SVG porque tiene fill="currentColor" */
}

.icon-tabler-mail {
    color: var(--color-amarillo); /* Esto rellena el SVG porque tiene fill="currentColor" */
}

.icon-tabler-watch {
    color: var(--color-amarillo); /* Esto rellena el SVG porque tiene fill="currentColor" */
}

.icon-tabler-factory {
    color: var(--color-amarillo); /* Esto rellena el SVG porque tiene fill="currentColor" */
}

.icon-tabler-backhoe{
    color: var(--color-amarillo); /* Esto rellena el SVG porque tiene fill="currentColor" */
}

.icon-tabler-frustum{
    color: var(--color-amarillo);
}

.icon-tabler-building-factory{
    color: var(--color-amarillo)
}

.icon-tabler-brand-facebook{
    color: var(--redes-color);
}

.icon-tabler-brand-instagram{
    color: var(--redes-color);
}

.icon-tabler-brand-x{
    color: var(--redes-color);
}

.icon-tabler-brand-linkedin{
    color: var(--redes-color);
}

.icon-tabler-brand-youtube{
    color: var(--redes-color);
}