

/* Aquí va la parte del header superior */

.header-encabezado-superior{
    background-color: #384d62; /*Coloca el color */
    display:flex; /*Activa flexbox */
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    height: 42px;
    padding: 0 10px;
    
}

.header-encabezado-superior-datos{
    height: 100%;
    display: flex;
    align-items: center;
    color: #e2e2e2;
    font-size: 14px;
    gap: 20px;
}

.header-mini-contenedor{
    display: flex;
    align-items: center;
    margin:0px;
}

.header-mini-contenedor p{
    margin: 0;
}
.header-mini-contenedor> a{
    text-decoration: none;
    color:inherit;
}

.header-ingreso{
    background-color: var(--color-amarillo);
    width: 150px;
    
    font-family: "Open Sans";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.header-ingreso a{
    text-decoration: none;
    color: black;

    font-family: 'Open Sans', sans-serif; /* fuente */
    font-size: 14px;                      /* tamaño */
    font-weight: bold;                     /* negrita */
}
   

/* Ahora la parte del NAV*/

nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1042px;
    height: 107px;

    margin: 0 auto;

    font-weight: bold;
    
}

nav .inicio {
    color: var(--color-amarillo);
}

nav a:hover {
    color: var(--color-amarillo) /* color diferente al amarillo original */
}

.secciones{
   
    display: flex;
    list-style: none;
    gap: 40px;

    
    text-transform: uppercase;
    font-size: 14px;
    color: #384D6299
    
    
}

.secciones a{
    text-decoration: none;
    color: inherit;
}



footer {
    background-color: blueviolet;
}

#footer-contenedor{
    display:flex;
}

.footer-contenedor-secundario{
    border-color: aquamarine;
    width: 800px;
    margin: 20px;
}

.footer-contenedor-secundario ul{
    
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    
    list-style: none;
    gap: 5px;
    
}

.footer-contenedor-secundario a{
    text-decoration: none;
    color: inherit;
}